
path{
	fill:#d6caa9;
}


.Afrique:hover{
     fill:yellow;
 }

.AmeriqueSud:hover{
    fill:orange;
}

.AmeriqueNord:hover{
    fill:green;
}


.Europe:hover{
    fill:purple;
}

#Groenland:hover{
    fill:grey;
}

.Asie:hover{
    fill:pink;
}

.Australie:hover{
    fill:plum;
}

